body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    overflow-x: hidden;
    background: black;
}

.hidden {
    display: none !important;
}

/* YILDIZ CANVAS */
#stars {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* ŞİFRE */
#lockScreen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#lockScreen h1 {
    font-size: 36px;
}

input {
    padding: 12px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
}

button {
    padding: 15px 35px;
    font-size: 20px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.1);
}

/* ANA SİTE */
#siteContent {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* SLAYT */
#slider {
    width: 280px;
    height: 380px;
    position: relative;
    margin-bottom: 40px;
}

#slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    border-radius: 15px;
}

/* SORU */
#questionSection h2 {
    font-size: 40px;
    margin-bottom: 25px;
}

.buttons {
    display: flex;
    gap: 30px;
}

#yesBtn {
    background: #ff007f;
    color: white;
}

#noBtn {
    background: #444;
    color: white;
}

#warningText {
    margin-top: 15px;
    font-size: 24px;
    color: yellow;
}

/* FİNAL */
#finalScreen {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, #ff007f, black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bigHeart {
    font-size: 130px;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}
