body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    transition: background 1s ease;
}

/* LOCK MODE */
.lock-mode {
    background: black;
    color: white;
}

/* LOVE MODE */
.love-mode {
    background: linear-gradient(135deg, #ff4e8b, #8a2be2);
    color: white;
}

.hidden {
    display: none !important;
}

/* YILDIZ */
#stars {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* MERKEZLEME ORTAK */
#lockScreen,
#afterUnlock,
#introMessages,
#loveScreen,
#noteScreen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

/* INPUT */
input {
    padding: 12px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    margin-top: 15px;
}

/* BUTTON */
button {
    padding: 15px 35px;
    font-size: 20px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
}

button:hover {
    transform: scale(1.1);
}

/* MAIN ORTALAMA */
#mainSection {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: center;
}

/* SLIDER */
#slider {
    width: 280px;
    height: 380px;
    position: relative;
}

#slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    border-radius: 15px;
}

/* SORU */
#questionSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#questionSection h2 {
    font-size: 42px;
}

.buttons {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

#yesBtn {
    background: #ff007f;
    color: white;
}

#noBtn {
    background: #333;
    color: white;
}

#warningText {
    margin-top: 35px;
    font-size: 24px;
    color: yellow;
}

/* LOVE BOX */
.love-box {
    background: rgba(255,255,255,0.15);
    padding: 50px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 40px rgba(0,0,0,0.4);
}

.love-box h1 {
    font-size: 42px;
}

.emoji {
    font-size: 60px;
    margin: 20px 0;
}

/* NOTE */
.note {
    background: #fff8dc;
    color: black;
    padding: 40px;
    width: 70%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.5);
    font-family: cursive;
}
