body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    transition: background 1s ease;
}

/* ARKA PLAN MODLARI */
.lock-mode {
    background: black;
    color: white;
}

.love-mode {
    background: linear-gradient(135deg, #ff4e8b, #8a2be2);
    color: white;
}

.hidden {
    display: none !important;
}

/* YILDIZ */
#stars {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* ORTAK MERKEZ */
#lockScreen,
#afterUnlock,
#introMessages,
#loveScreen,
#noteScreen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

/* ANA ORTALAMA */
#mainSection {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* İÇ BLOK */
#mainSectionInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    text-align: center;
}

/* SLIDER */
#slider {
    width: 280px;
    height: 380px;
    position: relative;
}

#slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    border-radius: 15px;
}

/* SORU */
#questionSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#questionSection h2 {
    font-size: 42px;
    margin: 0;
}

.buttons {
    display: flex;
    gap: 30px;
    margin-top: 25px;
}

#yesBtn {
    background: #ff007f;
    color: white;
}

#noBtn {
    background: #333;
    color: white;
}

#warningText {
    margin-top: 35px;
    font-size: 24px;
    color: yellow;
}
