body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    overflow: hidden;
}

/* YILDIZ CANVAS */
#stars {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    z-index: -1;
}

/* ŞİFRE EKRANI */
#lockScreen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    padding: 15px;
    font-size: 20px;
    margin: 20px;
    border-radius: 10px;
    border: none;
}

button {
    padding: 18px 40px;
    font-size: 22px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.1);
}

.hidden {
    display: none;
}

/* SLAYT */
#slider {
    width: 300px;
    height: 400px;
    overflow: hidden;
    margin: 40px auto;
    position: relative;
}

#slider img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    opacity: 0;
    transition: 1s;
}

/* SORU */
#questionSection {
    text-align: center;
}

#questionSection h2 {
    font-size: 42px;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
}

#yesBtn {
    background: #ff007f;
    color: white;
}

#noBtn {
    background: #444;
    color: white;
}

#warningText {
    font-size: 28px;
    color: yellow;
    margin-top: 20px;
}

/* FİNAL */
#finalScreen {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, #ff007f, black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bigHeart {
    font-size: 150px;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}
