body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    transition: background 1s ease;
}

.lock-mode {
    background: black;
    color: white;
}

.love-mode {
    background: linear-gradient(135deg, #ff4e8b, #8a2be2);
    color: white;
}

.hidden {
    display: none !important;
}

#stars {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* ANA MERKEZ */
#mainSection {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ORTA BLOK – TÜM İÇERİK BURADA */
#mainSectionInner {
    width: 300px;              /* slider genişliğine çok yakın */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
}

/* SLIDER */
#slider {
    width: 280px;
    height: 380px;
    position: relative;
}

#slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    border-radius: 15px;
}

/* SORU */
#questionSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#questionSection h2 {
    font-size: 32px;
    margin: 0;
}

.buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

#yesBtn {
    background: #ff007f;
    color: white;
}

#noBtn {
    background: #333;
    color: white;
}

#warningText {
    margin-top: 25px;
    font-size: 18px;
    color: yellow;
}
