body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    overflow-x: hidden;
    background: black;
}

.hidden {
    display: none !important;
}

/* YILDIZ */
#stars {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* ŞİFRE */
#lockScreen,
#afterUnlock {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: center;
}

#lockScreen h1,
#afterUnlock h1 {
    font-size: 36px;
    max-width: 600px;
}

input {
    padding: 12px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
}

button {
    padding: 15px 35px;
    font-size: 20px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.1);
}

/* ANA SİTE */
#siteContent {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* SLAYT */
#slider {
    width: 280px;
    height: 380px;
    position: relative;
    margin-bottom: 40px;
}

#slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    border-radius: 15px;
}

/* SORU */
#questionSection h2 {
    font-size: 40px;
    margin-bottom: 25px;
}

.buttons {
    display: flex;
    gap: 30px;
}

#yesBtn {
    bac
